body {
    background-color: black;
    color: white;
}

.details {
    list-style-type: none;
    font-family: monospace;
    box-shadow: 5px 5px 5px 0px rgb(129, 125, 125);
    border: 1px solid grey;
    padding: 10px;
    margin: 20px;
}



